@import 'reset';
@import 'grid';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Roboto:wght@500&display=swap');
body {
    font-family: 'Noto Sans TC', 'Roboto', sans-serif;
}

// 頁首
@import 'header';
@import 'nav';
@import 'banner';

// 內容
@import 'container'; //中間區塊設定
@import 'section';
@import 'list';
@import 'bgu'; //背景圖

// 頁尾
@import 'footer';

// 通用
@import 'spacing';
@import 'utilities';
@import 'flex';

* {
    outline: 1px solid green;
}
